@page "/inventory-bundle-list"
@using Application.DTOs
@using FBT.ShareModels.WMS
@using Microsoft.AspNetCore.Authorization
@using WebUIFinal.Core
@using WebUIFinal
@inject IStringLocalizer<InventoryResources> _localizer
@inject IStringLocalizer<CommonResources> _CLoc

@attribute [Authorize]
@if (bundle == null)
{
    <p><em>@_CLoc["Loading"]</em></p>
}
else
{
    <RadzenTemplateForm Data="@_searchModel"  Submit="@((BundleSearchModel args) => { OnSearch(args); })">
        <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-2">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="@_localizer["CreateBundle"]">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizer["TransNo"]" Variant="Variant.Outlined" Style="width:100%">
                                    <RadzenTextBox @bind-Value="@_searchModel.TransNo" Name="TransNo" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizer["ProductBundleCode"]" Variant="Variant.Outlined" Style="width:100%">
                                    <RadzenTextBox @bind-Value="@_searchModel.ProductBundleCode" Name="ProductBundleCode" />
                                </RadzenFormField>
                            </RadzenColumn>

                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_CLoc["Location"]" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDropDown @bind-Value=@_searchModel.Location Data=@locations Name="_dropDownSelectTenant"
                                                    TextProperty="LocationName" Placeholder="@_CLoc["Select"]" Change="() => UpdateListBin()"
                                                    ValueProperty="Id" AllowClear=true Chips=true />
                                </RadzenFormField>
                            </RadzenColumn>

                            <RadzenColumn SizeXS="12" SizeSM="3" Visible="false">
                                <RadzenFormField Text="@_CLoc["Bin"]" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDropDown @bind-Value=@_searchModel.Bin Data=@bins Name="_dropDownSelectTenant"
                                                    TextProperty="BinCode" Placeholder="@_CLoc["Select"]"
                                                    ValueProperty="Id" AllowClear=true Chips=true />
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>                    
                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_CLoc["Status"]" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDropDown @bind-Value="@_searchModel.Status" Data=@GetDisplayAdjustmentStatus() Name="_dropDownStatus"
                                                    Multiple=false AllowClear=true Chips=true
                                                    ValueProperty="Value" TextProperty="DisplayValue" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizer["BundleExpirationDate"]" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDatePicker @bind-Value="@_searchModel.ReceiveDateFrom" Placeholder="@_localizer["BundleExpirationDate"]" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="~" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDatePicker @bind-Value="@_searchModel.ReceiveDateTo" Placeholder="@_localizer["BundleExpirationDate"]" />
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenColumn SizeXS="6" SizeSM="3">
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2">
                                <RadzenButton Variant="Variant.Flat" Text="@_CLoc["Clear"]" Icon="cancel" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Large" Click="@ClearFilter" />
                                <RadzenButton Variant="Variant.Flat" Text="@_CLoc["Search"]" Icon="search" ButtonType="ButtonType.Submit" Size="ButtonSize.Large" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-2">
        <RadzenColumn SizeXS="12" SizeMD="12">
            <RadzenStack>
                <RadzenFieldset Text="@_localizer["Bundleset List"]">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End"
                                 AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2">
                        <RadzenButton Variant="Variant.Flat" Shade="Shade.Dark"
                                      Text="@_localizer["Planned Shipment Bundle Products"]"
                                      Icon="visibility"
                                      ButtonStyle="ButtonStyle.Info"
                                      Click=@(args => GetPlannedShpimentBundleProducts()) />
                        <RadzenButton Variant="Variant.Flat" Shade="Shade.Dark"
                                      Text="@_CLoc["Create"]" Icon="create" ButtonStyle="ButtonStyle.Success" Click=@(args => AddNewItemAsync()) />
                    </RadzenStack>
                    <RadzenDataGrid @ref="_bundleGrid" Data="@_filteredModel" TItem="InventBundleDTO" AllowFiltering="true" class="custom-grid" PageSizeText="@_CLoc["items per page"]"
                                    AllowPaging="true" PageSize="30" AllowSorting="true"  ShowPagingSummary=@_showPagerSummary PagingSummaryFormat="@_pagingSummaryFormat" PageSizeOptions="@Constants.PageSizeOptions" EmptyText="@_CLoc["No records to display."]" >
                                     
                        <Columns>
                            <RadzenDataGridColumn Width="200" TItem="InventBundleDTO" Property="TransNo" Title="@_localizer["TransNo"]" TextAlign="TextAlign.Center" Filterable="false">
                                <Template Context="data">
                                    <a href="@($"/bundle-details/{_CLoc["Detail.Edit"]}{_localizer["WarehouseAdjustment"]}|{@data.TransNo}")">@data.TransNo</a>

                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="ProductBundleCode" Title="@_localizer["ProductBundleCode"]" />
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="TenantName" Title="@_localizer["TenantName"]" />
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="Qty" Title="@_localizer["AddedQuantity"]" />
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="LocationName" Title="@_CLoc["Location"]" />
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="BinCode" Title="@_CLoc["Bin"]" Visible="false" />
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="TransDate" Title="@_localizer["BundleExpirationDate"]" FormatString="{0:yyyy/MM/dd}" />
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="PersonInCharge" Title="@_localizer["PersonInCharge"]" />
                            <RadzenDataGridColumn TItem="InventBundleDTO" Filterable="false" Property="Status" Title="@_CLoc["Status"]">
                             <Template Context="data">
                                    @_localizer[data.Status.ToString()]
                                    </Template>
                                </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
}

@code {
    public class BundleSearchModel
    {
        public string? TransNo { get; set; }
        public string? ProductBundleCode { get; set; }
        public string? Location { get; set; }
        public string? Bin { get; set; }
        public DateTime? TransDate { get; set; }
        public DateTime? ReceiveDateFrom { get; set; }
        public DateTime? ReceiveDateTo { get; set; }
        public EnumStatusBundle? Status { get; set; }
    }

    List<InventBundleDTO> _filteredModel = new();
    BundleSearchModel _searchModel = new();

    private void OnSearch(BundleSearchModel args)
    {
        _filteredModel = bundle;

        if (!string.IsNullOrEmpty(args.TransNo))
        {
            _filteredModel = _filteredModel.Where(_ => _.TransNo.Contains(args.TransNo, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        if (!string.IsNullOrEmpty(args.ProductBundleCode))
        {
            _filteredModel = _filteredModel.Where(_ => _.ProductBundleCode.Contains(args.ProductBundleCode, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        if (!string.IsNullOrEmpty(args.Location))
        {
            _filteredModel = _filteredModel.Where(r => r.Location == args.Location).ToList();
        }
        if (!string.IsNullOrEmpty(args.Bin))
        {
            _filteredModel = _filteredModel.Where(r => r.Bin == args.Bin).ToList();
        }
        if (args.ReceiveDateFrom.HasValue)
        {
            _filteredModel = _filteredModel.Where(_ => _.TransDate >= args.ReceiveDateFrom.Value).ToList();
        }

        if (args.ReceiveDateTo.HasValue)
        {
            _filteredModel = _filteredModel.Where(_ => _.TransDate <= args.ReceiveDateTo.Value).ToList();
        }
        if (args.Status.HasValue)
        {
            _filteredModel = _filteredModel.Where(item => item.Status == args.Status).ToList();
        }
        if (args.ReceiveDateFrom.HasValue)
        {
            
        }

        StateHasChanged();
    }

    private void ClearFilter()
    {
        _searchModel = new();
        _filteredModel = bundle;
        StateHasChanged();
    }
}