@page "/receiptplan"
@using Application.DTOs.Request
@using Microsoft.AspNetCore.Authorization
@using WebUIFinal.Core
@using WebUIFinal
@using FBT.ShareModels.Entities
@inject IStringLocalizer<ReceivePlanResources> _localizer;
@inject IStringLocalizer<CommonResources> _localizerCommon;
@attribute [Authorize]

<style>
    .register-button {
        background-color: #8A42F3; /* Purple color */
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    /* .rz-grid-table thead th > div:not(.rz-cell-filter) {
        background-color: #CC686F !important;
    } */

  /*   .rz-panel {
        margin-right: 18px;
        margin-left: 18px;
    } */
</style>

@if (_dataGrid == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@_searchModel" Submit="@((ReceivePlanSearchModel args) => { _pageNumber = 1; RefreshDataAsync(); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="@_localizer["ReceivePlanList"]">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn SizeXS="12" SizeSM="2">
                                <RadzenFormField Text="@_localizer["Supplier"]" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDropDown @bind-Value="@_searchModel.SupplierId" Data="@suppliers" Name="_dropDownSelectLocation"
                                                    TextProperty="SupplierName" Placeholder="@_localizerCommon["Select"]"
                                                    ValueProperty="Id" AllowClear=true Chips=true />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="2">
                                <RadzenFormField Text="@_localizer["ScheduledArrivalNumber"]" Variant="Variant.Outlined" Style="width:100%">
                                    <RadzenNumeric Name="ArrivalNo" @bind-Value="@_searchModel.ArrivalNo" Placeholder="@_localizer["ScheduledArrivalNumber"]" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="2">
                                <RadzenFormField Text="@_localizer["ProductCode"]" Variant="Variant.Outlined" Style="width:100%">
                                    <RadzenTextBox Name="ProductCode" @bind-Value="@_searchModel.ProductCode" Placeholder="@_localizer["ProductCode"]" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="2">
                                <RadzenFormField Text="@_localizer["ReceiveDate"]" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDatePicker @bind-Value="@_searchModel.ReceiveDateFrom" Placeholder="@_localizer["ReceiveDate"]" DateFormat="yyyy/MM/dd" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="2">
                                <RadzenFormField Text="~" Variant="Variant.Outlined" Style="width: 100%;">
                                    <RadzenDatePicker @bind-Value="@_searchModel.ReceiveDateTo" Placeholder="@_localizer["ReceiveDate"]" DateFormat="yyyy/MM/dd" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="2">
                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                                    <RadzenButton Variant="Variant.Flat" Text="@_localizer["Search"]" Icon="search" ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Click="@(() => _receivePlanGrid.Reload())" />
                                    <RadzenButton Variant="Variant.Flat" Text="@_localizer["ClearFilter"]" Icon="clear" ButtonType="ButtonType.Button" Size="ButtonSize.Large" ButtonStyle="ButtonStyle.Base" Click="Clear" />
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn SizeXS="12" SizeMD="12">
            <RadzenStack>
                <RadzenFieldset Text="@_localizer["ReceivePlanList"]">
                    <RadzenDataGrid Style="width:100%" @ref="_receivePlanGrid"
                                    Data="@(_dataGrid?.Items ?? new List<ArrivalInstructionDto>())" TItem="ArrivalInstructionDto"
                                    LoadData="@LoadData"
                                    PageSize="@_dataGrid.PageSize"
                                    AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" AllowSorting="true"
                                    PageSizeText="@_localizerCommon["items per page"]"
                                    EmptyText="@_localizerCommon["No records to display."]"
                                    GridLines="Radzen.DataGridGridLines.Both" AllowAlternatingRows="false" Count="@(_dataGrid?.TotalItems ?? 0)"
                                    PageSizeOptions="@Constants.PageSizeOptions"
                                    ShowPagingSummary="true" PagingSummaryFormat="@Constants.PagingSummaryFormat">
                        <Columns>
                            <RadzenDataGridColumn Width="150" TItem="ArrivalInstructionDto" Title="@_localizer["ReceiptNo"]" TextAlign="TextAlign.Center">
                                <Template Context="data">
                                    @if (data.ReceiptNo == default && !string.IsNullOrEmpty(data.ProductCode))
                                    {
                                        <RadzenButton Click=@(args => CreateReceiptIntrustrion(data.Id)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                      Text="@_localizer["CreateReceipt"]" Icon="add_circle" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                                    }
                                    else if (data.ReceiptNo != default)
                                    {
                                        <NavLink class="nav-link" href="@($"/addreceipt/{_localizerCommon["Detail.Edit"]} {_localizer["WarehouseReceipt"]}|{data.ReceiptNo}")" Match="NavLinkMatch.All" style="padding: 0!important;">
                                            済：@data.ReceiptNo
                                        </NavLink>
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="150" TItem="ArrivalInstructionDto" Property="ScheduledArrivalNumber" Title="@_localizer["ScheduledArrivalNumber"]" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn Width="150" TItem="ArrivalInstructionDto" Property="ScheduledArrivalDate" Title="@_localizer["ScheduledArrivalDate"]" TextAlign="TextAlign.Center" FormatString="{0:yyyy/MM/dd}" />
                            <RadzenDataGridColumn Width="200" TItem="ArrivalInstructionDto" Property="SupplierName" Title="@_localizer["SupplierName"]" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn Width="150" TItem="ArrivalInstructionDto" Property="ProductCode" Title="@_localizer["ProductCode"]" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn Width="150" TItem="ArrivalInstructionDto" Property="Quantity" Title="@_localizer["ScheduledQuantity"]" TextAlign="TextAlign.Center" />
                        </Columns>
                    </RadzenDataGrid>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
}